PORT=3000
MONGODB_USER=yourUsername
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=contactsDB

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=
APP_DOMAIN=

CLOUD_NAME=
API_SECRET=
API_KEY=

ApiA=
